.container{
	height: 700px; 
}
.form input{
	height: 40px; 
	border-radius: 5px; 
	
}
.form {
	margin-top: 20px; 
	text-align: center;  
}

#button{
	display: inline-block; 
	font-family: 'Rock Salt', cursive;
    padding: 5px 10px 5px 10px;  
    border-radius: 5px; 
    border: solid black 2px; 
    font-size: 16pt; 
    background-color: transparent;
    margin-left: 670px; 
    margin-top: 20px; 
}

#button:hover{
    background-color: #BBFD5E;
}
#or{
	text-align: center; 
	margin-top: 10px; 
}
#subscribe{
		display: inline-block; 
	font-family: 'Rock Salt', cursive;
    padding: 5px 10px 5px 10px;  
    border-radius: 5px; 
    border: solid black 2px; 
    font-size: 16pt; 
    background-color: transparent;
    margin-left: 480px; 
    margin-top: 10px; 
}
#subscribe:hover{
    background-color: #BBFD5E;
}